<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
	
		<div th:replace="~{fragment :: styles}"></div>
	
		<title>NAGOYAMESHI</title>
	</head>
	<body>
		<div class="nagoyameshi-warapper">
			<!-- ヘッダー　-->
			<div th:replace="~{fragment :: header}"></div>
			
			<main>
				<div class="container pt-4 pb-5 nagoyameshi-container">
					<div th:if="${param.loggedIn}" class="alert alert-info">
						ログインしました。
					</div>
					
					<div th:if="${param.loggedOut}" class="alert alert-info">
						ログアウトしました。
					</div>
				</div>
				
				<div class="d-flex justify-content-center">                                            
                         <form method="get" th:action="@{/houses}" class="mb-5 nagoyameshi-search-form">
                             <div class="input-group">
                                 <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="店舗名">
                                 <button type="submit" class="btn text-white shadow-sm nagoyameshi-btn">検索</button> 
                             </div>               
                         </form>                        
                     </div>                                                                                                  
                                                      
                     <div class="row row-cols-lg-5 row-cols-2 g-3 mb-5">                                        
                         <div class="col" th:each="newHouse : ${newHouses}">
                             <a th:href="@{/houses/__${newHouse.getId()}__}" class="link-dark nagoyameshi-card-link">
                                 <div class="card h-100">                                                                        
                                     <img th:if="${newHouse.getImageName()}" th:src="@{/storage/__${newHouse.getImageName()}__}" class="card-img-top nagoyameshi-vertical-card-image" alt="店舗画像">                                     
                                     <img th:unless="${newHouse.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top nagoyameshi-vertical-card-image" alt="NO IMAGE">                                                                                                                        
                                     <div class="card-body">                                    
                                         <h3 class="card-title" th:text="${newHouse.getName()}"></h3>
                                         <p class="card-text mb-1">
                                             <small class="text-muted" th:text="${newHouse.getAddress()}"></small>                                            
                                         </p>
                                         <p class="card-text">
                                             <span th:text="${#numbers.formatInteger(newHouse.getPrice(), 1, 'COMMA') + '円 / 泊'}"></span>                                            
                                         </p>                                    
                                     </div>
                                 </div>    
                             </a>            
                         </div>                                               
                     </div>
                     
                     <div class="row justify-content-center">
                         <div class="col-xl-5 col-lg-6 col-md-8">                    
                     
                             <h2 class="text-center mb-3">キーワードから探す。</h2>                                        
                              
                             <table class="table">
                                 <tbody>                                                     
                                     <tr>
                                         <th>肉</th>
                                         <td>
                                             <a th:href="@{/houses?category=鶏肉}">鶏肉</a>
                                             <a th:href="@{/houses?category=牛肉}">牛肉</a>
                                             <a th:href="@{/houses?category=豚肉}">豚肉</a>
                                         </td>                                     
                                     </tr>  
                                     <tr>
                                         <th>麺</th>
                                         <td>
                                             <a th:href="@{/houses?=category=ラーメン}" class="me-2">ラーメン</a>
                                             <a th:href="@{/houses?category=そうめん}" class="me-2">そうめん</a>
                                             <a th:href="@{/houses?category=うどん}" class="me-2">うどん</a>
                                             <a th:href="@{/houses?category=担々麺}" class="me-2">担々麺</a>
                                             <a th:href="@{/houses?category=ちゃんぽんめん}" class="me-2">ちゃんぽんめん</a>
                                             <a th:href="@{/houses?category=パスタ}">パスタ</a>                                             
                                         </td>                                     
                                     </tr> 
                                      <tr>
                                         <th>味噌</th>
                                         <td>
                                             <a th:href="@{/houses?=category=味噌カツ}" class="me-2">味噌カツ</a>
                                             <a th:href="@{/houses?category=味噌煮込みうどん}" class="me-2">味噌煮込みうどん</a>
                                             <a th:href="@{/houses?category=味噌おでん}" class="me-2">味噌おでん</a>
                                             <a th:href="@{/houses?category=どて煮}" class="me-2">どて煮</a>
                                             <a th:href="@{/houses?category=味噌中華}" class="me-2">味噌中華</a>
                                             <a th:href="@{/houses?category=デラみそ}">デラみそ</a>                                             
                                         </td>                                     
                                     </tr>        
                                                                                                                                                                                                                                                                                                                                                                                                                                                
                                 </tbody>
                             </table>  
                         </div>
                     </div> 
			</main>
			
			<!-- フッター　-->
			<div th:replace="~{fragment :: footer}"></div>
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>